.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
log.txt
*.o
*.db
*.exe
*.dll
*.pyc

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json